@charset "utf-8";

/* ---------- モバイル版 ---------- */
@media screen and (max-width: 790px) {

  body {
    font-size: 10px;
    width: 100%;
  }

  /* ----- header ----- */
  header {
    height: 40px;
    padding: 0 5%;
  }
  .left h1 {
    font-size: 30px;
    line-height: 40px;
  }
  .right li {
    line-height: 40px;
    padding-left: 10px;
  }

  /* ------- footer ----- */
  .footer {
    height: 52px;
    padding: 10px 5% 0;
    font-size: 10px;
  }

  .footer_menu li {
    padding: 0 4px;
  }
  .footer_menu a:hover {
    padding-bottom: 2px;
  }

  /* ------ main ------ */
  .main {
    font-size: 20px;
    height: 510px;
    background-image: url('../images/mobile_main.png');
    background-position: center;
  }

  .main_img img,
  .img_back {
    display: none;
  }
  .main_content {
    margin-top: 180px;
    height: 250px;
    width: 300px;
    padding: 20px 0;
    background-color: rgba(255, 255, 255, .8);
  }
  .main_content h2 {
    font-size: 30px;
  }
  .main_content p {
    font-size: 12px;
    padding: 10px 0;
    line-height: 15px;
  }
  .main_content .btn {
    padding: 10px 20px;
    font-size: 12px;
  }
  .main_content .gest {
    padding-top: 15px;
    font-size: 12px;
  }

  .mobile_br {
    display: none;
  }

  /* ------- about ------- */
  .about_container {
    width: 90%;
    margin: 0;
    padding: 10px 15px;
  }
  .about_title h1 {
    font-size: 30px;
  }

  .about_title_sub h2 {
    font-size: 20px;
  }

  .about_icon {
    width: 25px;
    height: 25px;
  }

  .about_content h2 {
    font-size: 15px;
    line-height: 25px;
  }
  .about_page {
    width: 100%;
  }

  /* ------ user page ------ */
  .mobile_user_menu {
    display: flex;
    flex-direction: column;
    font-size: 10px;
  }

  .user_menu {
    display: none;
  }
  .user {
    display: block;
    margin: 0 5%;
  }

  #user_mobile {
    display: flex;
    justify-content: space-around;
  }

  .user_name {
    text-align: left;
  }
  .user_icon {
    width: 130px;
    height: 130px;
  }
  .week_edit_del h1 {
    font-size: 15px;
  }

  .cooking_edit_menu .edit,
  .cooking_edit_menu .trash {
    width: 150px;
    font-size: 12px;
    text-align: center;
    font-weight: 600;
    border-radius: 10px;
  }

  .recipes_item_week {
    width: 30%;
  }
  .recipes_item_week img {
    width: 120px;
    height: 100px;
  }

  .menu_btn {
    margin-bottom: 5px;
    padding: 0 15px;
    border-color: rgb(183, 180, 180);
    border-radius: 5px;
    height: 40px;
    line-height: 40px;
    font-size: 10px;
  }
  .menu_btn img {
    height: 30px;
    width: 30px;
    line-height: 40px;
    margin-top: 10px;
  }

  .form_week {
    margin: 10px 8px;
  }

  /* ------- form -------- */
  .container {
    border-radius: 40px;
    margin: 0 10% 5px;
    padding: 10px 15px 15px;
    text-align: center;
    width: 80%;
  }

  .layout {
    padding: 10px 0;
  }

  .card_header {
    text-align: center;
    font-size: 20px;
    padding-bottom: 8px;
  }

  .form_mobile {
    display: inline-block;
    text-align: left;
    width: 100%;
  }

  .form_control {
    width: 80%;
    font-size: 12px;
  }
  
  .image_attention {
    font-size: 12px;
    color: red;
  }
  
  .user_icon {
    text-align: center;
  }

  .week_title {
    padding-left: 30px;
  }
  .week_control {
    padding: 0 10px;
    font-size: 12px;
  }

  th {
    font-weight: normal;
    font-size: 12px;
  }

  .mate_control,
  .gram_control {
    width: 130px;
    padding-top: 10px;
    font-size: 12px;
  }
  .mate_control {
    margin-right: 5px;
  }
  .btn {
    height: 45px;
    padding: 10px 40px;
  }

  .cancel_btn {
    height: 45px;
    padding: 10px 20px;
    line-height: 22px;
  }
  .cancel_btn:hover {
    padding: 9px 49px;
    line-height: 22px;
  }

  .image img {
    width: 100%;
    height: 90%;
    padding: 10px 0;
  }
  /* ------ recipe list ------ */
  .search_control {
    width: 300px;
    height: 40px;
    font-size: 12px;
  }

  .search_btn {
    padding: 10px 30px;
  }

  .recipes_item {
    padding: 20px;
    width: 110px;
  }

  .recipe_img img {
    width: 100px;
    height: 100px;
  }

  .no_recipe {
    margin: 5% 30%;
    font-size: 8px;
  }
  .no_recipe img {
    height: 70px;
    width: 70px;
  }
  .no_recipe h1 {
    margin: 5px 0 15px;
  }

  .recipe_btn {
    padding: 5px 20px;
  }

  .drawal_mobile {
    font-size: 20px;
    padding-bottom: 10px;
  }

  /* ------ cooking ------- */
  .cooking_title {
    font-size: 20px;
  }

  .cooking {
    display: block;
    padding: 0 3%;
    font-size: 13px;
  }

  .cooking_left {
    padding-right: 0;
  }
  .cooking_left img {
    width: 100%;
    height: 300px;
  }

  .cooking_right {
    width: 100%;
    margin-top: 10px;
  }
  .cooking_right li {
    font-size: 13px;
  }
  .cooking_right h1 {
    font-size: 15px;
    font-weight: 600;
  }  

  .cooking_contents {
    width: 100%;
    margin: 0 2%;
  }

  .sub_content {
    font-size: 13px;
    width: 95%;
  }
  .sub_content h1 {
    font-size: 15px;
  }

  .contents {
    width: 95%;
  }
  .contents h1 {
    font-size: 15px;
  }
  .contents li {
    font-size: 13px;
  }

  /* ---- terms of use ---- */
  .terms_container {
    margin: 0 10% 10px;
    border-radius: 20px;
    width: 80%;
  }

  .terms_container h1 {
    font-size: 20px;
  }
}